a {
    text-decoration: none;
}

/* Form */

.mdl-textfield__input {
    width: 100%;
}

form {
    margin: auto;
}

.mdl-textfield.has-error .mdl-textfield__error {
    visibility: visible;
}

/* Menu */
.mdl-menu {
    z-index: 0;
}

/* Nav */
.mdl-layout__drawer .mdl-navigation .mdl-navigation .mdl-navigation__link {
    padding: 0 !important;
}

.mdl-navigation__link a {
    color: black;
}

/* Nav Drawer*/
.mdl-layout__drawer .mdl-navigation {
    margin: 0;
    padding: 0;
}

.mdl-layout__drawer > .mdl-navigation__link, .mdl-layout__drawer > .mdl-navigation {
    margin: 0;
    padding: 0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link a {
    vertical-align: text-top;
}

.mdl-layout__drawer .mdl-navigation {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    transition: padding .3s;
}

/* Drawer */
.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link {
    padding: 0;
}
.mdl-layout__drawer .mdl-navigation a.mdl-navigation__link button.mdl-button{
    width: 100%;
    height: 100%;
    padding: 16px;
    margin: 0;
}



/* NAV HEADER*/
header .mdl-navigation__link + a, header.mdl-layout__header .mdl-navigation button {
    color: white;
    margin: 17px;
}

header .mdl-layout__header-row > ul.mdl-navigation .mdl-navigation.parent-dropdown {
    position: absolute;
    visibility: hidden;
    color: black;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

header .mdl-navigation ul.mdl-navigation {
    margin-left: -24px;
}

header .mdl-navigation ul.mdl-navigation .expand-menu-button {
    color: black;
}

header .mdl-navigation li {
    position: relative;
    opacity: 1;
}

header .mdl-navigation.parent-dropdown {
    flex-direction: column;
}

header .mdl-navigation .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

header .mdl-navigation .mdl-navigation__link .mdl-navigation__link a {
    display: inherit;
    line-height: 24px;
    padding: 20px 24px;
}

header .mdl-navigation .mdl-navigation__link .mdl-navigation__link {
    width: 100%;
    padding: 0;
}

header .mdl-navigation div.link-wrapper {
    display: flex;
}

/* Tabs */
header .mdl-layout__tab-bar-container {
    z-index: -1;
}

.mdl-tabs__panel {
    margin: 2em auto;
}

/* Content */
.mdl-layout__content {
    padding-top: 2em;
}


/* OTHER SETTING */

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

a:hover {
    text-decoration: none;
}

/* CARD */
.mdl-card__supporting-text {
    width: 100%;
}

/* List */
.mdl-layout__tab:hover, .mdl-layout__tab:focus {
    text-decoration: none;
    color: inherit;
}

.mdl-list__item--three-line {
    height: auto;
    min-height: 88px;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    max-width: 490px;
}

.mdl-list__item-text-body ul {
    list-style: none;
}

li.mdl-list__item i.material-icons {
    text-align: center;
    color: white;
}

li.mdl-list__item {
    width: 100%;
    padding: 0;
    margin: .5em auto;
    border-top: 1px solid rgba(200, 200, 200, 1);
}

i.mdl-list__item-avatar.material-icons {
    height: 50px;
    width: 50px;
}

/* Pagination */
.mdl-list__pagination li.active a.mdl-button {
    color: white;
}

.mdl-list__pagination li {
    float: left;
    list-style: none;
    display: inline-block;
    margin: 1em .2em;
}

.mdl-list__pagination-prev {
}

.mdl-list__pagination-next {
}

.mdl-list__pagination-prev.disabled, .mdl-list__pagination-next.disabled {
    display: none;
}

.mdl-list__pagination-item {
}
/* Button */

.mdl-action-bar {
    margin: 1em auto;
}

.mdl-action-bar .mdl-button {
    margin: .125em;
}

.mdl-layout__drawer .mdl-navigation__link .mdl-button {
    text-align: left;
}
.mdl-layout__drawer .mdl-navigation__link .mdl-button .mdl-button-label {
    margin-left: 2em;
}

/* Breadcrumb */
.mdl-breadcrumbs li {
    display: inline-block;
    float: left;
}
.mdl-breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mdl-breadcrumb-wrapper:after {
    clear: both;
}

/* Tabel */
.mdl-data-table th, .mdl-data-table th a {
    vertical-align: inherit;
    font-size: inherit;
    text-transform: uppercase;
    padding: -0.8em;
}

tr.mdl-table-header th {
    padding: 1em;
}

.mdl-data-table .help-block {
    position: absolute;
    left: 0;
    top: 0;
}

td button.mdl-button {
    width: auto!important;
}

.mdl-data-table td.is-focused::after{
    visibility: visible;
    width: 100%;
}

.mdl-data-table td.has-error::after{
    visibility: visible;
    width: 100%;
    background-color: rgba(255,0,0,1);
}

.mdl-data-table td::after{
    background-color: #3f51b5;
    bottom: 12px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: visible;
    width: 0;
}

/* Footer */
.mdl-layout__content > .container {
    min-height: 570px;
}

/* Media Queries */
@media all and (max-width: 480px) {
    /* Button */
    .mdl-button {
        width: 100%;
    }
    /* List */
    .mdl-list__item.mdl-list__item--three-line {
        padding: 1em 0;
        display: list-item;
        height: auto;
    }

    .mdl-list__item-avatar {
        display: block;
    }

    .mdl-list__item-title {
        margin-top: 1em;
        float: left;
    }
    .mdl-list__item--three-line .mdl-list__item-primary-content, .mdl-list__item--three-line .mdl-list__item-secondary-content {
        height: auto;
    }


    .mdl-list__item--three-line .mdl-list__item-text-body {
        padding: 1em 0 .1em;
        display: block;
        clear: both;
        height: auto;
    }
}